<!doctype html>
<title>Home</title>
<body>
<div class="center jumbotron-fluid">
  <h1 class="display-4">Alpha Blog</h1>
  <%= link_to "Sign Up Now", "#", class: "btn btn-dark btn-lg" %>
</div>
</body>